@import "../global";
@import "global";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    font-family: $font-family-sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    background-color: var(--secondary-color);
    scroll-behavior: smooth;
    text-transform: none;
}
a{
    color: var(--link-color);
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: var(--link-hover-color);
    }
}

nav {
    background-color: var(--primary-color);
    color: white;
    .navbar-brand {
        font-weight: bold;
        color: white;
        font-size: 1.35em;
    }
    .navbar-nav {
        .search-wrapper {
            border-bottom: 1px solid white;
            input{
                &::-webkit-input-placeholder { /* Edge */
                    color: white;
                }

                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: white;
                }

                &::placeholder {
                    color: white;
                }
            }
        }
        .nav-link {
            font-weight: 500;
            color: white;
            padding-right: 1rem !important;
            padding-left: 1rem !important;
        }

        .form-control {
            background-color: var(--primary-color);
            color: white;
            font-weight: bold;
        }
    }
    .logo-wrapper{
        &:hover{
            opacity: 1;
        }
    }
    a {
        svg {
            fill: white;
        }
    }
}

.footer {
    background-color: var(--footer-bg);
    padding: 1.875em;
    color: white;
    .brand-name{
        color: white;
        font-size: 2em;
        font-weight: bold;
    }
    .logo-wrapper{
        &:hover{
            opacity: 1;
        }
    }
    .footer-menu{
        .menu-title{
            color: white;
            font-size: 1.25em;
            font-weight: bold;
            padding: 0.5rem 0rem;
        }
        .nav-item{
            list-style:none;
            color: white;
            display: inline-block;
            width: 100%;
            a{
                color: white;
                padding: .5rem 0rem;
            }
        }
    }
}
footer{
    padding: 1em;
    color: white;
    background-color: black;
}
@media screen and (max-width: 768px) {
    .navbar {
        padding: 0.5rem 0rem;
    }
    body{
        font-size:0.88em;
    }
    .footer {
        background-color: var(--footer-bg);
        padding: 1em 0.2em;
        color: white;
    }

}
