@import 'variables';
section.hero-content {
  background-color: var(--primary-color);
  height: 400px;
  padding-top: 3.125em;

  .search-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.375rem 0.75rem;
    svg {
      fill: var(--primary-color);
    }
  }
  .hero-title {
    font-size: 2.375em;
    font-weight: bold;
    margin-bottom: 0.8em;
    color: white;
    margin-top: 0.5em;
  }
  .hero-description {
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
  }
}
section.experts-section {
    padding-top: 4em;
}
.category-cards{
  transform: translateY(-52%);
  .category-wrapper{
    display: flex;
    justify-content: space-between;
    a:hover{
      opacity: 1;
      text-decoration: none;
      .card-content{
        p{
          color: var(--primary-color);
        }
      }
    }
    .card-content {
      text-align: center;
      vertical-align: middle;
      justify-content: center;
      display: flex;
      height: 214px;
      width: 214px;
      border:0;
      margin-right: 1em;
      align-items: center;
      background: #FFFFFF;
      border-radius:  0.4375em;
      box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 5%);
      -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 5%);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      img{
        height: 60px;
        margin-bottom: 1em;
      }

      p {
        margin-bottom: 0px;
        font-weight: bold;
        color: var(--font-color);
      }
    }
  }

}
.content {
  overflow: hidden;
  .icon-left{
    position: absolute;
    left:0;
    //top:0;
  }
  .icon-right{
    position: absolute;
    right:0;
    //top:0;
  }
  .content-title{
    font-weight: bold;
    font-size:  1.875em;
    text-align: center;
    line-height: 1;
    margin: 1.5625em;
  }
  .subcategory-wrapper{
      .pill{
          background-color: white;
          border-radius: 0.4375em;
          padding: 0.8em 1em;
          &.active{
              background-color: #cacdfd;
          }
      }
  }
  .hiw-wrapper{
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    .hiw-title{
      margin-bottom: 0.8em;
      margin-top: 0.8em;
      font-size: 1.25em;
      font-weight: bold;
    }
    .hiw-description{
      font-weight: 500;
    }
    svg,img{
      height: 60px;
      width: auto;
      fill: var(--primary-color);

    }
  }
  .expert-card.card{
    text-align: center;
    border-radius: 0.4375em;
    height: 400px;
    align-self: center;
    justify-content: center;
    margin-bottom: 0px;
    .btn-outline-primary{
      border-color: var(--primary-color);
      color: var(--primary-color);
      font-weight: 500;
      &:hover{
        background-color: var(--primary-color);
        color: white;
      }
    }
  }
  .card {
    border: none;
    border-radius: 0.4375em;
    margin-bottom: 1.875em;
    .card-title {
      font-weight: bold;
      margin-bottom: 0px;
      font-size: 1.25em;
    }
  }
}

@media screen and (max-width: 768px) {
.hero-search .form-control{
  width: 90%;
  margin: auto;
  padding-right: 2em;
}
  section.hero-content .search-icon{
    right:1em
  }
  section.hero-content .hero-title{
    font-size: 1.7em;
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
  }
  section.hero-content .hero-description {
    line-height: 1.5em;
  }
  .category-cards .category-wrapper .card-content{
    height: 108px;
    width: 108px;
    margin-right: 1em;
    padding: 0em 1em;
  }
  .category-cards .category-wrapper{
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .category-cards .category-wrapper .card-content img{
    height: 30px;
    margin-bottom: 0.3em;
  }
  .category-cards .category-wrapper .card-content p{
    line-height:1.2em;
  }
  section.hero-content{
    height: 375px;
  }
  .content .expert-card.card {
    text-align: center;
    border-radius: 0.4375em;
    padding: 2em 3em;
    opacity: 0.9;
    p{
      font-size: 1.125em;
      font-weight: 500;
      line-height: 2em;
      &.font-weight-bold{
        font-size: 1.5em;
        margin: auto;
        margin-bottom: 1em;
      }
    }
  }
  .content .content-title{
    margin: 1em 0.2em;
  }
  .content .icon-left {
    position: absolute;
    left: -30%;
    top: -13%;
  }
  .hiw-wrapper{
    .hiw-box{
      display: flex;
      .hiw-image{
        align-self: center;
      }
      .hiw-body{
        text-align: left;
        margin-left: 1em;
        .hiw-title{
          margin-bottom: 0px;
        }
      }
    }
  }
  .content .icon-right {
    position: absolute;
    right: -30%;
    top: 50%;
  }
}
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
  .category-cards .category-wrapper .card-content{
    height: 180px;
    width: 180px;
  }
}

