nav.breadcrumb-wrapper{
    //margin-top: 20px;
    background: #FFFFFF;
    .breadcrumb{
        border-radius: 0.4375em;
        padding: 0.4em 1em;
        //:not(:first-child){
        //    :before {
        //        display: inline-block;
        //        padding-right: .5rem;
        //        padding-left: .5rem;
        //        color: #212529;
        //        content: "/";
        //    }
        //}
        .breadcrumb-item{
            font-size: 0.8rem;
            display: inline;
        }
        .active{
            color: #212529;
        }
    }
}
